@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/Futura Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Rapier';
  src: url('../assets/fonts/RapierZero.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rapier';
  src: url('../assets/fonts/RapierZeroItalic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rapier Hollow';
  src: url('../assets/fonts/RapierZeroHollow.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rapier Hollow';
  src: url('../assets/fonts/RapierZeroHollowItalic.ttf');
  font-weight: normal;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  background-color: #f7f7f7;
}

.MuiContainer-root {
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.card-animation{
  
}

.card-animation:hover{
  animation: cardAnimation 500ms ease-in;
  scale: 1.2;
}

@keyframes cardAnimation {
  0%  {scale: 1;}
  100%  {scale: 1.2;}
}